h1 {
  font-size: 2rem;
}

nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 0.6rem 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  width: auto;
  padding: 0 0.6rem;
  border: 0.2rem solid;
  border-left: 0.6rem solid lightcoral;
  margin: 0 10px;
  text-transform: lowercase;
  float: right;
}

nav ul li a:hover {
  color: lightcoral;
}

body {
  background-color: black;
  color: white;
  margin: 60px 0 0;
  font-family: Roboto, sans-serif;
}

section {
  display: flex;
  text-align: center;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 0px;
}

section:nth-child(odd) {
  background-color: black;
  color: white;
}

section:nth-child(even) {
  background-color: white;
  color: black;
}

section h1 {
  border-bottom: 10px solid lightcoral;
  width: fit-content;
  margin: 30px 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  font-size: 30px;
  color: lightcoral;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  margin: 10px 0;
}

#about h2 {
  margin: 30px 0;
  font-size: 3rem;
}

.card {
  background-color: lightcoral;
  color: white;
  width: 33%;
  margin-right: 3%;
}

img {
  max-width: 90%;
  height: auto;
  border: 10px solid white;
}

.tag {
  text-align: left;
  margin-left: 10px;
}

.tag li {
  display: inline;
  background-color: white;
  color: lightcoral;
  padding: 7px;
  border-bottom: 3px solid lightcoral;
  border-right: 3px solid lightcoral;
}

.footer {
  background-color: lightcoral;
  padding: 20px 10px 10px;
  text-align: right;
}

a.fa-4x {
  margin: 0 20px 10px 0;
  color: white;
  text-decoration: none;
}

a.fa-4x:hover {
  color: black;
}

.project-description {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 30px;
}

@media (max-width: 508px) {
  nav ul li {
    font-size: 20px;
  }

  nav ul li a {
    margin: 0 3px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .row {
    display: block;
    margin: 0;
  }

  .card {
    width: auto;
    margin: 0 0 10px;
  }

  .project-description {
    width: auto;
  }

  section {
    margin: 10px;
  }

  body {
    margin-top: 4.8rem;
  }
}