h1 {
  font-family: "french-clarendon-ornamented", sans-serif;
  text-transform: lowercase;
  font-size: 2.75em;
  display: inline;
  border-left: 12px solid lightcoral;
  padding: 0 10px;
  margin: 0 50px;
  color: white;
}

nav {
  text-align: center;
  border-bottom-style: double;
  border-color: white;
  border-width: 10px;
  padding-bottom: 10px;
}

body {
  background-color: #000000db;
}
